.author {
    @include column(12);
    position: relative;
    margin-bottom: 55px;
}

.author-name {
  position: absolute;
  top: 7px;
  font-size: 1.3rem;
  line-height: 22px;
}

.author-name-primary {
  font-family: $secondary-font;
  color: $author-color;
  font-style: italic;
}

.author-img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
