.news-content {
  @include column(12);

  @include media-query($mobile-sm-breakpoint, false) {
    @include column(6);
  }

  @include media-query($mobile-breakpoint, false) {
    @include column(4);
  }

  margin-top: 135px;
}

.news-first {
  @include column(12);

  @include media-query($mobile-breakpoint, false) {
    @include column(6);
  }
}

.news-second,
.news-third {
  @include column(12);

  @include media-query($mobile-sm-breakpoint, false) {
    @include column(6);
  }

  @include media-query($mobile-breakpoint, false) {
    @include column(3);
  }
}

.news-title {
  font-size: 1.7rem;
  line-height: 21px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 35px;

  @include media-query($mobile-breakpoint, false) {
    font-size: 29px;
  }
}

.news-title-primary {
  color: $news-title-color;
}

.news-text {
  font-size: 1.4rem;
  line-height: 22.8px;
  font-family: $secondary-font;
}

.news-text-primary {
  color: $news-text-color;
}

.news-category {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 22.8px;
  text-transform: uppercase;
}

.category-politics {
  color: $category-politics-color;
}

.category-tech {
  color: $category-tech-color;
}

.category-science {
  color: $category-science-color;
}

.category-sports {
  color: $category-sports-color;
}

.news-img {
  margin-bottom: 40px;
}
