@import 'Utils/_variables.scss';
@import 'Utils/_reset.scss';
@import 'Grid/_semanticgs.scss';
@import 'Utils/_mediaQueries.scss';
@import 'Utils/_grid.scss';

@import 'News/news.scss';
@import 'News/author.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: $bg;
  font-size: 1.6rem;
  font-family: $default-font;
}
