.main-header {
  position: relative;
  padding: 7px 0 4px;
  border-bottom: 1px solid $border-color;
  @include clearfix();
}

.menu-icon {
  position: absolute;
  left: 10px;
  top: 10px;

  @include media-query($desktop-breakpoint, false) {
    display: none;
  }
}

.logo {
  margin: 0 auto;
  text-align: center;

  @include media-query($desktop-breakpoint, false) {
    @include column(3)
    text-align: left;
    padding: 0;
  }
}

.main-nav {
  width: 100%;
  position: absolute;
  top: 59px;
  left: 0;

  @extend .main-nav-primary;

  @include media-query($desktop-breakpoint, false) {
    @include column(9);
    position: relative;
    float: right;
    top: 0;
  }
}

.main-nav-primary {
  background-color: $menu-bg;

  @include media-query($desktop-breakpoint, false) {
    text-align: right;
  }
}

.main-menu {
  padding: 35px 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .5s ease;

  @include media-query($desktop-breakpoint, false) {
    padding: 0;
    visibility: visible;
    height: auto;
  }
}

.is-open {
  height: auto;

  .main-menu {
    visibility: visible;
    height: 382px;
  }
}

.main-menu-item {
  display: block;
  padding: 31px 25px;
  text-align: left;
  text-transform: uppercase;

  @extend .main-menu-item-primary;

  @include media-query($desktop-breakpoint, false) {
    display: inline-block;
    padding: 23px 29px 0 0;
    margin-top: -8px;
  }

  a {
    position: relative;

    &:hover {
      &:before,
      &:after {
        transition: all 0.2s;
        opacity: 1;
      }

      &:before {
        left: -10px;
      }

      &:after {
        right: -10px;
      }
    }

    &:before {
      position: absolute;
      content: '[';
      opacity: 0;
      left: 5px;
    }

    &:after {
      position: absolute;
      content: ']';
      opacity: 0;
      right: 5px;
    }
  }
}

.main-menu-item-primary {
  a {
    text-decoration: none;
    color: $menu-item-color;
  }
}
